
    /* <!-- Heading = Open Sans, Body = Source Sans Pro --> */
* {
  border: 1px solid red;
}
  
   h1, h2, h3, h4,  {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  .text-highlight {
    color: #AD251B;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    color: #D6A23A;
  }
  
  
   .btn, .nav-link, .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #000000;;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }

  .navbar {
    display: flex;
    background-color: #9290A3;
    justify-content: space-between;
  }




  .hero {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D6A23A;
    background-color: #9290A3;
  }

  .hero-img{
    margin-top: 15vh;
    height: 500px;
    width: 500px;
    background-color: #ecdbd0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 8px solid #D6A23A;
    position: relative;
    left: 200px;
  }

  .hero-img img{
    height:600px;
    width: auto;
   
  }

  .hero-text {
    margin-top: 120px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 100px;
    width: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    font-stretch: ultra-expanded;
    font-size: 20vh;
  }


.text-lowlight {
  font-size: 1rem;
  text-transform: uppercase;
  color: #FF7972;
}


  
  header {
      margin-top: 100px;
      border-bottom: 1px solid black;
  }
  
  
  .projects-h2-text {
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  
  .project {
    border: 1px solid rgba(207, 199, 198, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
      /* background-color: rgba(207, 199, 198, 0.5); */
      display: flex;
      flex-direction: column;
  
  
  }
  
  .project h4{
      padding: 10px;
      margin: 10px;
      text-align: center;
      border-bottom: 0.5px solid black;
  }
  
  .projects-main {
      padding: 10px;
      margin: 10px;
  }
  
  .project img {
    height: 50vh;
    border-radius: 20px;
    width: auto;
    object-fit: cover;
    object-position: top;
  
  }
  #gd-img {
  
  }
  
  .ow_cta {
    background-color: black;
    color: white;
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
  }
  
  .contact-me {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border: .5px solid grey;
  }
  
  .form-group{
    margin: 3em;
  }
  
  .form-group button {
    margin-top: 2em;
  }
  
  #form-text {
    height: 20vh;
  }
  
  /* Projects Page Specific Styling */
  
  .project-intro {
    height: 100vh;
  }
  
  .projects-main {
    margin-top: 100px;
  }
  
  .web-img {
      height: 500px;
      width: auto;
      border: 10px solid pink;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .webdev-row {
    margin: 20px 0;
  }
  
  .webdev-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gd-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

  }
  
