
    /* <!-- Heading = Open Sans, Body = Source Sans Pro --> */
 /* * {
  border: 1px solid red;
}  */

   */
   h1, h2, h3, h4,  {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
 
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    color: #D6A23A;
    background-color:;
  }
  
  
   .btn, .nav-link, .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-weight: 700; */
    color: #FF7972;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }

  .navbar {
    background-color: #464457;
  }

    
  .fas .fa-bars{
    border-color: rgb(214,162,58);
  }


/* start hero styles */
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./imgs/heroImg1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 30vw;
    border-bottom: 1px solid #D6A23A;
    background-color: #464457;
  }

  .hero-img{
    height: 500px;
    width: 500px;
    background-color: #ecdbd0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 8px solid #D6A23A;
    position: relative;
  }

  .hero-img img{
    height:600px;
    width: auto;
   
  }

  .hero-text {
    background-color: rgba(70,68,87, .6);
    height: 225px;
    width: 500px;
    margin-right: 10%;
    display: inline-block;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
  }

.hero-decoration {
  border-top: 1px solid #D6A23A;
}


#hero-h1, #im-celina {
    font-size: 3.5rem;
    letter-spacing: .4rem;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  }

#hero-p {
  /* border-top: 1px solid #D6A23A; */
  text-transform: uppercase;
  color: #9290A3;
  font-size: .9rem;
  letter-spacing: .2rem;
  text-shadow: 1px 1px 1px rgba(8, 0, 0, 0.8);
}


/* start about me */

.about row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.about {
  border: 1px solid rgba(207, 199, 198, 0.5);
  margin-top: 120px;
  text-align: center;
  width: 75%;
  height: auto;
  line-height: 1.0;
  letter-spacing: .1rem;
  padding: 30px;

}



/* start projects*/

  
  .projects-h2-text {
    border-bottom: 1px solid #D6A23A;
    padding: 10px;
    margin: 10px;
  }
  
  
  .project {
    border: 1px solid rgba(207, 199, 198, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  
  
  }
  
  .project h4{
      padding: 10px;
      margin: 10px;
      text-align: center;
      border-bottom: 0.5px solid rgba(207, 199, 198, 0.5);
  }
  
  .projects-main {
      padding: 10px;
      margin: 10px;
  }
  
  .project img {
    height: 50vh;
    border-radius: 20px;
    width: auto;
    object-fit: cover;
    object-position: top;
  }

  
  .ow_cta {
    background-color: black;
    color: white;
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
  }
  
  .contact-me {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border: .5px solid rgba(207, 199, 198, 0.5);
  }
  
  .form-group{
    margin: 3em;
  }
  
  .form-group button {
    margin-top: 2em;
  }
  
  #form-text {
    height: 20vh;
  }
  
  /* Projects Page Specific Styling */
  
  .project-intro {
    height: 100vh;
  }
  
  .projects-main {
    margin-top: 100px;
  }
  
  .web-img {
      height: 500px;
      width: auto;
      border: 10px solid pink;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .webdev-row {
    margin: 20px 0;
  }
  
  .webdev-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gd-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

  }
  

}